* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #FF6B00 ;
    --secondary-color: #FEE006; 
    --dark-grey:#282828;
    --light-cream:#F9ECCF;
}
@font-face {
    font-family: 'HeyNovember'; 
    src: url('/fonts/HeyNovember.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    background-image: url(/src/lib/assets/white_brick_bg_20.png);
    background-repeat: repeat;
}

/* Text Styles */
h1 {
    font-family: 'HeyNovember';
    font-size: 2.125rem;
    margin: 1rem 0;
    font-weight: 200;
	letter-spacing: .1em;
}
h2 {
    font-family: 'HeyNovember';
    font-size: 1.875rem;
}
h3 {
    font-family: 'Darker Grotesque';
    font-size: 2.125rem;
    font-weight: 800;
}
h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}
h5 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}
h6 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}
p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
li {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}
hr {
    height: 2px;
    margin-bottom: 20px;;
}
.wt_text {
color: white;
}
.primary_bg {
    background-color: var(--primary-color);
    color: var(--dark-grey);
    }
.secondary_bg {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
    }
.dark_bg {
    background-color: var(--dark-grey);
    color: var(--light-cream);
}
.bg_none {
    background-color: transparent;
    color: var(--dark-grey);
}

button {
    align-items: center;
    background-color: var(--dark-grey);
    border: none;
    color: white;
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    width: fit-content;
}
.button-stroke {
    align-items: center;
    border: 1px solid var(--dark-grey);
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
}
.flexbox {
    display: flex;
    flex-direction: row;
}
/* spacing */
.m1 {
    margin: 1rem;
}
.m2 {
    margin: 2rem;
}
.ml1 {
    margin-left: 1rem;
}
.ml2 {
    margin-left: 2rem;
}
.ml3 {
    margin-left: 3rem;
}
/* Grid */
.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}